platform/platformread - Copy.hcl
platform/platformread.hcl
platform/platformwrite.hcl
platform/log.txt
example/example.exe
example/log.txt
platform/database.db
platform/database.db.lock
example/database.db
example/database.db.lock
platform/bolt.db.lock
platform/bolt.db
/.idea/*
/platform/cacert.pem
/platform/client.cer
/platform/client.key
