platform/platformread - Copy.hcl
platform/platformread.hcl
platform/platformwrite.hcl
platform/log.txt
example/example.exe
example/log.txt
database.db
database.db.lock
example/database.db
example/database.db.lock
platform/bolt.db.lock
platform/bolt.db
/.idea/*
/platform/cacert.pem
/platform/client.cer
/platform/client.key
/example/forwardClientToken/client/logic/database.db
log.txt
*.exe
/example/http-web-server/log.log
example/localJwt/localJwt
*.crt
*.key
example/grpc-auth/client/client
example/grpc-auth/server/server
example/grpc-web-server/client/client
example/grpc-web-server/server/server
